Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"],
        "*": "vplint"
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Allow table children 'false'
  packages/react-admin-core/src/Table.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Import all styled-components at once
  packages/react-admin-form/src/FieldContainerLabelAbove.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

use lerna with yarn workspaces for ordered building and publishing
  .travis.yml
  lerna.json
  package-lock.json
  package.json
  packages/file-icons/package-lock.json
  packages/file-icons/package.json
  packages/material-ui-react-select/package-lock.json
  packages/material-ui-react-select/package.json
  packages/material-ui-react-select/tsconfig.json
  packages/react-admin-core/package-lock.json
  packages/react-admin-core/package.json
  packages/react-admin-date-fns/package-lock.json
  packages/react-admin-date-fns/package.json
  packages/react-admin-final-form-material-ui/package-lock.json
  packages/react-admin-final-form-material-ui/package.json
  packages/react-admin-form/package-lock.json
  packages/react-admin-form/package.json
  packages/react-admin-layout/package-lock.json
  packages/react-admin-layout/package.json
  packages/react-admin-mui/package-lock.json
  packages/react-admin-mui/package.json
  yarn.lock
Due: prettylint, vplint

add missing peer dependency for admin-core react-apollo
  packages/react-admin-core/package.json
Due: prettylint, vplint

Publish
  packages/react-admin-core/package.json
  packages/react-admin-form/package.json
  packages/react-admin-mui/package.json
Due: prettylint, vplint

ignored ts error for using router-dom link in material ui component
  packages/react-admin-mui/src/menu/ItemLink.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

use current yarn version for workspace usage
  .travis.yml
Due: vplint

fixed missing types for react-apollo renderProps
  packages/react-admin-core/src/FormMutation.tsx
  packages/react-admin-core/src/Selected.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

add isOpen prop for CollapsibleItem to initialize state
  packages/react-admin-mui/src/menu/CollapsibleItem.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

use node 10
  .travis.yml
Due: vplint

Publish
  packages/file-icons/package.json
  packages/material-ui-react-select/package.json
  packages/react-admin-core/package.json
  packages/react-admin-date-fns/package.json
  packages/react-admin-final-form-material-ui/package.json
  packages/react-admin-form/package.json
  packages/react-admin-layout/package.json
  packages/react-admin-mui/package.json
Due: prettylint, vplint

Display breadcrumb-links next to each other
  packages/react-admin-mui/src/breadcrumbs/Breadcrumbs.sc.ts
  packages/react-admin-mui/src/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

build libraries before lint, because cross dependencies needs lib folder
  .travis.yml
Due: vplint

Fix dirty form (leading to save changes question) when adding
  packages/react-admin-core/src/FinalForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Don't export with 'Extended' as public API
  packages/react-admin-core/src/RouterTabs.tsx
  packages/react-admin-core/src/Table.tsx
  packages/react-admin-core/src/TableDndOrder.tsx
  packages/react-admin-form/src/DateRange.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Remove last submodule imports from react-admin packages
  packages/react-admin-form/src/ReactSelect.tsx
  tslint.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Rename Exports for ReactSelect
  packages/material-ui-react-select/src/Select.tsx
  packages/react-admin-final-form-material-ui/src/ReactSelect.tsx
  packages/react-admin-form/src/DatePicker.tsx
  packages/react-admin-form/src/ReactSelect.tsx
  packages/react-admin-form/src/ReactSelectStaticOptions.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Display breadcrumb-links next to each other (#16)
  packages/react-admin-mui/src/breadcrumbs/Breadcrumbs.sc.ts
  packages/react-admin-mui/src/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Fix dirty form (leading to save changes question) when adding (#18)
  packages/react-admin-core/src/FinalForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Don't export with 'Extended' as public API (#19)
  packages/react-admin-core/src/RouterTabs.tsx
  packages/react-admin-core/src/Table.tsx
  packages/react-admin-core/src/TableDndOrder.tsx
  packages/react-admin-form/src/DateRange.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Publish
  packages/material-ui-react-select/package.json
  packages/react-admin-core/package.json
  packages/react-admin-final-form-material-ui/package.json
  packages/react-admin-form/package.json
  packages/react-admin-mui/package.json
Due: prettylint, vplint

fix realpath for macOS
  wml-add.sh
Due: vplint

fix table exports by moving all table components to table to solve problem with macOS its case insensitive file system
  packages/react-admin-core/src/DeleteMutation.tsx
  packages/react-admin-core/src/FinalForm.tsx
  packages/react-admin-core/src/index.ts
  packages/react-admin-core/src/table/LocalChangesToolbar.tsx
  packages/react-admin-core/src/table/Pagination.tsx
  packages/react-admin-core/src/table/Table.tsx
  packages/react-admin-core/src/table/TableDndOrder.tsx
  packages/react-admin-core/src/table/TableFilterFinalForm.sc.ts
  packages/react-admin-core/src/table/TableFilterFinalForm.tsx
  packages/react-admin-core/src/table/TableLocalChanges.tsx
  packages/react-admin-core/src/table/TableQuery.sc.ts
  packages/react-admin-core/src/table/TableQuery.tsx
  packages/react-admin-core/src/table/TableQueryContext.tsx
  packages/react-admin-core/src/table/index.ts
  packages/react-admin-core/src/table/pagingStrategy/PagingStrategy.ts
  packages/react-admin-core/src/table/pagingStrategy/createRelayPagingActions.ts
  packages/react-admin-core/src/table/pagingStrategy/createRestPagingActions.ts
  packages/react-admin-core/src/table/useTableQuery.ts
  packages/react-admin-core/src/table/withDirtyHandlerApi.tsx
  packages/react-admin-core/src/table/withTableQueryContext.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

fix ExtendedSelectWrapper after changed imports
  packages/material-ui-react-select/src/Select.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Style buttons in FinalForm
  packages/react-admin-core/src/FinalForm.sc.ts
  packages/react-admin-core/src/FinalForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Publish
  packages/material-ui-react-select/package.json
  packages/react-admin-core/package.json
  packages/react-admin-final-form-material-ui/package.json
  packages/react-admin-form/package.json
Due: prettylint, vplint

Revert "Publish"
  packages/material-ui-react-select/package.json
  packages/react-admin-core/package.json
  packages/react-admin-final-form-material-ui/package.json
  packages/react-admin-form/package.json
Due: prettylint, vplint

Style buttons in FinalForm (#26)
  packages/react-admin-core/src/FinalForm.sc.ts
  packages/react-admin-core/src/FinalForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

make selectionMode required for Selected
  packages/react-admin-core/src/Selected.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Set background-color for alternating table-rows and table-head
  packages/react-admin-core/src/table/Table.sc.ts
  packages/react-admin-core/src/table/Table.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Style table-filter-header
  packages/react-admin-core/src/table/TableFilterFinalForm.sc.ts
  packages/react-admin-core/src/table/TableFilterFinalForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Translate remaining english strings to german
  packages/react-admin-core/src/DirtyHandler.tsx
  packages/react-admin-core/src/EditDialog.tsx
  packages/react-admin-core/src/FinalForm.tsx
  packages/react-admin-core/src/router/ConfirmationDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Make date-picker use full width
  packages/react-admin-form/src/DatePicker.sc.ts
  packages/react-admin-form/src/DatePicker.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Remove default placeholder for react-select
  packages/material-ui-react-select/src/Select.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint

Menu: Allow external links by not using router
  packages/react-admin-mui/src/menu/ItemLink.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent, vplint
